<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Build a Reken-Powered Full-Stack Web App with SQLite, Python & Tailwind</title>
  <meta name="title" content="Build a Reken-Powered Full-Stack Web App with SQLite, Python & Tailwind."/>
  <meta name="description" content="Discover how to harness Reken's capabilities for robust CRUD web applications in our comprehensive demo. Learn essential techniques for executing GET, POST, DELETE, and PUT REST calls with a Python Flask-based REST service. Seamlessly manage SQLite database operations to fetch, create, delete, and update rows. Plus, elevate your UI with Tailwind's styling. Perfect for developers seeking to leverage Reken for powerful, efficient web app development."/>
  <meta property="og:title" content="Build a Reken-Powered Full-Stack Web App with SQLite, Python & Tailwind."/>
  <meta property="og:description" content="Discover how to harness Reken's capabilities for robust CRUD web applications in our comprehensive demo. Learn essential techniques for executing GET, POST, DELETE, and PUT REST calls with a Python Flask-based REST service. Seamlessly manage SQLite database operations to fetch, create, delete, and update rows. Plus, elevate your UI with Tailwind's styling. Perfect for developers seeking to leverage Reken for powerful, efficient web app development."/>
  <meta property="og:url" content="https://reken.dev/integrations/reken-powered-full-stack-web-app.html"/>
  <meta property="og:image" content="https://reken.dev/integrations/reken-full-stack.png"/>
  <meta name="twitter:card" content="Discover how to harness Reken's capabilities for robust CRUD web applications in our comprehensive demo. Learn essential techniques for executing GET, POST, DELETE, and PUT REST calls with a Python Flask-based REST service. Seamlessly manage SQLite database operations to fetch, create, delete, and update rows. Plus, elevate your UI with Tailwind's styling. Perfect for developers seeking to leverage Reken for powerful, efficient web app development." />
  <meta name="twitter:creator" content="@hbroek13"/>
</head>

<body>
  <header>
    <h1><a href="https://reken.dev">Reken</a>-Powered Full-Stack Web App with SQLite, Python & Tailwind</h1>
    <h3>CRUD operations on an employee database table</h3>
  </header>
  <table data-rest="employees:${SERVER}/api/employees" data-rest-options="listOptions">
    <thead data-rest="result:${SERVER}/api/employees/${deleteOptions.id}" data-rest-options="deleteOptions">
      <tr data-rest="employees[0]:${SERVER}/api/employees" data-rest-options="createOptions">
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Location</th>
        <th>Department</th>
        <td>
          <button type="button" data-action="listOptions.fetch=true;addMode=false" title="Refresh rows">🔄
          </button>
          <button data-if="!addMode" type="button"
            data-action="addMode=true;employees.unshift(employees.length>0?{ ...employees[0]}:{employee_id:'',name:'',location:'',department:'', phone:'', email:''});employees[0].employee_id=''"
            title="Insert new row">➕
          </button>
        </td>
      </tr>
    </thead>
    <tbody data-for="u:employees" data-rest="result:${SERVER}/api/employees" data-rest-options="updateOptions">
      <tr>
        <td data-text="${u.item.employee_id}"></td>
        <td><input data-value="u.item.name" placeholder="Type a name"></td>
        <td><input data-value="u.item.phone" placeholder="Type a phone number" type="tel" /></td>
        <td><input data-value="u.item.email" placeholder="Type an email address" type="email" /></td>
        <td>
          <select data-for="l:locations" data-value="u.item.location">
            <option data-attr-value="${l.item.location_id}" data-text="${l.item.name}"></option>
          </select>
        </td>
        <td>
          <select data-for="d:departments" data-value="u.item.department">
            <option data-attr-value="${d.item.department_id}" data-text="${d.item.name}"></option>
          </select>
        </td>
        <td>
          <button data-if="!addMode||u.index>0" type="button"
            data-action="updateOptions.fetch=true;updateOptions.body=JSON.stringify(u.item)"
            title="Save row changes">💾</button>
          <button data-if="!addMode||u.index>0" type="button"
            data-action="deleteOptions.id=u.item.employee_id;deleteOptions.fetch=true" title="Delete row">🗑️</button>
          <button data-if="addMode&&u.index===0" type="button"
            data-action="createOptions.fetch=true;createOptions.body=JSON.stringify(u.item);addMode=false;"
            title="Save new row">💾</button>
          <button data-if="addMode&&u.index===0" type="button" data-action="employees.shift();addMode=false"
            title="Cancel row insert">❌</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">🔄 Refresh rows, ➕ add new row, 💾 save row, 🗑️ delete row, and ❌ cancel new row.</td>
      </tr>
    </tfoot>
  </table>
  <div hidden data-rest="departments:${SERVER}/api/departments"></div>
  <div hidden data-rest="locations:${SERVER}/api/locations"></div>
</body>
<script>
  const SERVER = ''
  let employees = []
  let departments = []
  let locations = []
  let result;
  let addMode = false;

  let listOptions = { fetch: true }
  let createOptions = { fetch: false, method: 'POST', headers: { 'content-type': 'application/json' } }
  let updateOptions = { fetch: false, method: 'PUT', headers: { 'content-type': 'application/json' } }
  let deleteOptions = { fetch: false, method: 'DELETE', callback: (() => { listOptions.fetch = true }), headers: { 'content-type': 'application/json' } }
</script>
<script src="https://cdn.jsdelivr.net/gh/hbroek/reken/dist/reken.min.js"></script>
</html>